@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  color: #d4961c;
  background-color: #198068;
  font-family: Serif;
  
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.navbar-expand-md {
  background-color: #198068;
  font-family: Serif;
}

.navbar-nav .btn {
  font-size: large;
}

.navbar-nav .nav-link {
  color: azure;
  font-size: large;
}

.navbar-brand {
  color: #d4961c;
}

body {
  background-color: white;
}
